parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    paths:
        - src
        - tests/Behat

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #1 \$id of static method Symfony\\Component\\DependencyInjection\\Container::underscore\(\) expects string, string\|null given\./'
