<html>
    <head>
        <script {{ encore_entry_script_tags('shop-entry', null, 'shop') }}></script>
    </head>
    <body>
    <div id="greeting" data-greeting="{{ greeting }}">Loading...</div>
    </body>
</html>
