<html>
    <head>
        {{ encore_entry_script_tags('shop-entry', null, 'shop') }}
    </head>
    <body>
        <div id="greeting" {{ stimulus_controller('pocky/modern-plugin-skeleton/greeting', { data: greeting }) }}>
            Loading...
        </div>
    </body>
</html>
